@use '../../../styles/variables' as *;

// section {
//   background-image: url('/fundo.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   min-height: 100vh;
//   position: relative;
//   box-sizing: border-box;
//   // padding: 140px 54px;
// }

// .cta-container {
//   display: flex;
//   flex-direction: row;
//   height: 100%;
// }

// .cta-texto {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   gap: 80px;
//   padding: 140px 54px;
// }

// .cta-title {
//   color: $amarelo-claro;
//   text-transform: uppercase;
//   font-weight: 800;
// }

// .cta-description {
//   color: $amarelo-claro;
//   font-weight: 500;
//   line-height: 1.5;

//   & span {
//     font-weight: 700;
//   }
// }

// span {
//   color: $amarelo;
// }

// .cta-containerImagens {
//   display: flex;
//   align-items: flex-end;
//   justify-content: flex-end;
//   width: 50%;
// }

// .cta-image {
//   width: 90%;
// }

// @media (max-width: 900px) {
//   .cta-container {
//     flex-direction: column;
//     height: 100%;
//   }

//   .cta-texto {
//     width: 100%;
//     gap: 40px;
//   }

//   .cta-title {
//     font-size: 2.5rem;
//   }

//   .cta-description {
//     font-size: 1rem;
//   }

//   .cta-containerImagens {
//     display: flex;
//     align-items: flex-end;
//     justify-content: flex-end;
//     width: 100%;
//   }
// }

//--------------------------------------------------------

.sec1 {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
  pointer-events: none;
}

.bg2 {
  background-image: url('/advogados.webp');
}

.bg1 {
  background-image: url('/fundo.webp');
}
.content {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.cta-texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 140px 54px;
}

.cta-title {
  color: $amarelo-claro;
  text-transform: uppercase;
  font-weight: 800;
}

.cta-description {
  color: $amarelo-claro;
  font-weight: 500;
  line-height: 1.5;

  & span {
    font-weight: 700;
  }
}

span {
  color: $amarelo;
}

@media (max-width: 900px) {
  .cta-texto {
    width: 100%;
    gap: 40px;
  }

  .cta-title {
    font-size: 2.5rem;
  }

  .cta-description {
    font-size: 1rem;
  }
}
