<!-- <section>
  <div class="cta-container">
    <div class="cta-texto">
      <h1 class="cta-title">Sua <span>causa</span>, <br> nossa <span>prioridade</span>.</h1>
      <p class="cta-description">Cada caso é único e merece atenção especial. Por isso, oferecemos um atendimento humano, próximo e resolutivo, sempre com ética, clareza e foco no que realmente importa: <span>você</span>.</p>
      <a href="/signup" class="cta-button">Sign Up Now</a>
    </div>
    <div class="cta-containerImagens">
      <img src="advogados.webp" alt="Call to Action Image" class="cta-image">
    </div>
  </div>
</section> -->
<section class="container sec1">
  <div class="bg bg1" data-speed="0.3"></div>
  <div class="bg bg2" data-speed="0.9"></div>
  <div class="content">
    <div class="cta-texto">
      <h1 class="cta-title">Sua <span>causa</span>, <br> nossa <span>prioridade</span>.</h1>
      <p class="cta-description">Cada caso é único e merece atenção especial. Por isso, oferecemos um atendimento humano, próximo e resolutivo, sempre com ética, clareza e foco no que realmente importa: <span>você</span>.</p>
      <a href="/signup" class="cta-button">Sign Up Now</a>
    </div>
    <div></div>
  </div>
</section>
