@use '../../../styles/variables' as *;

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba($amarelo-claro, 0.95);
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.3);
}

.logo img {
  height: 40%;
}

a {
  text-decoration: none;
  color: $azul;
  font-weight: 700;
}

ul {
  font-family: $fonte-titulo, serif;
  text-transform: uppercase;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
