/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonte-titulo, serif;
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

p {
  font-family: $fonte-texto, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

body {
  background-color: $amarelo-claro;
}
